
$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;

html, body, #app, #root{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: $sans;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}


.defaultContainer {
    /* padding: 10vmin; */
    /* background: rgba(0, 0, 0, 0.05); */
}